<div id="centers">
    {% if results %}
    <table>
        <tbody>
        <tr>
            {% for i in range(results['centers'].__len__()) %}
            <td id="center_tag"><b> center {{% i + 1 %}} : </b></td>
            <td><img src="/static/images/{{ results['centers'][i] }}"></td>
            <td id="sample_tag"><b> samples: </b></td>
            {% for img_name in results['samples'][i] %}
                <td><img src="/static/images/{{ img_name }}"></td>
                {% endfor %}
            <tr></tr>
            {% if i > 12 %}

            {% endif %}
            {% endfor %}
        </tr>
        </tbody>
    </table>
    {% else %}
    No results :(
    {% endif %}
</div>