<div id="centers">
    {% if results %}
    <table>
        <tbody>
        <tr>"Centers"></tr>
        <tr>
            {% for img_name in results['centers'] %}
            <td>{{ img_name }}</td>
            <td><img src="/static/images/{{ img_name }}"></td>
            {% endfor %}
        </tr>
        <tr>"Samples"></tr>
        <tr>
            {% for label in results['samples'] %}
            <td>{{ label }}</td>
            {% for img_name in results['samples'][label] %}
            <td><img src="/static/images/{{ img_name }}"></td>
            {% endfor %}
            {% endfor %}
        </tr>
        </tbody>
    </table>
    {% else %}
    No results :(
    {% endif %}
</div>